
::-webkit-scrollbar {
  width: 0px !important; /* Set width for the scrollbar */
  height: 0px; /* Set height for horizontal scrollbar */
  border-radius: 100vw !important;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
  /* border-radius: 10px; */
  ::-webkit-scrollbar-thumb {

    border-radius: 100vw !important;
      }
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0; /* Light 
  cursor: pointer;
  border: 2px solid transparent; /* Add border to make it look more round */
  background-clip: padding-box; /* Clips the background to the padding box */
  border-radius: 100vw !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; /* Slightly darker on hover */
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 100vw !important;
}

/* Hide scrollbar for Firefox */
.scrollbar {
  scrollbar-width: thin; /* Make scrollbar thin instead of none */
  scrollbar-color: #e0e0e0 transparent; /* thumb color track color */
  scrollbar-width: thin;
  scrollbar-color: white #e0e0e0;
  outline: 0 !important;
  border-radius: 100vw !important;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;

  background: #fafafa;
}
.dark > body {
  background: #000000;
}
/* For any element you want to hide the scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 100vw !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 white;
  outline: 0 !important;
  

  /* border-radius: 10px !important; */
}
/* CSS class to remove the up and down buttons from number inputs */
.remove-number-spinner {
  -moz-appearance: textfield; /* Firefox */
}

.remove-number-spinner::-webkit-inner-spin-button,
.remove-number-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari and Chrome */
  margin: 0; /* Remove default margin */
}
.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge:hover {
  background: #1e7944 !important;

  border: 1px solid #1e7944 !important;
  border-radius: 10 !important;
}
.rdrSelected:hover,
.rdrInRange:hover,
.rdrStartEdge:hover,
.rdrEndEdge:hover {
  border: 1px solid #1e7944 !important;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #1e7944 !important;
}

.rdr,
.rdrInRange,
.rdrDateDisplayItem {
  border: 1px solid #1e7944 !important;
}

.rdrDay:hover,
.rdrDayNumber,
::before {
  /* color: red !important; */
  /* border:1px solid #1E7944 !important */
}
::before {
  /* background:red !important */
}

.rdrDay:hover {
  /* background:red !important */
  border: 2px red solid;
}

/* Class to hide scrollbars while maintaining functionality */
.hide-scrollbar {
  scrollbar-width: none;
}
